@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}
.heroSection {
  background: linear-gradient(to top, #50281dd2, #50281dd2),
    url("./assets/photo1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo0 {
  background: url("./assets/photo4.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.butSection {
  background: linear-gradient(to top, #50281dd2, #50281dd2),
    url("./assets/photo6.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
}
.photo1 {
  background: url("./assets/photo2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo2 {
  background: url("./assets/photo3.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
